<div class="cont">
  <h1 style="color: #FFFFFF; position: relative; top: 40%"> Converted Voice </h1>
  <label class="button-div">
    <audio controls>
      <source src="./Audios/output.wav" type="audio/wav">
    </audio>
  </label>
  

  <!--<input id="inp_username" #inp_username
         class="input-username"
         type="text"
         [(ngModel)]="username"
         placeholder="Enter your Username"
         (keypress)="checkValidUsername($event)"
         autofocus="autofocus" />-->
  <br />
</div>
